.achievement-page{

min-height:100vh;

padding:150px 10% 100px;

background:#fffaf3;

}



.achievement-header{

text-align:center;

margin-bottom:70px;

}



.achievement-header p{

color:#b17a25;

letter-spacing:4px;

font-size:13px;

font-weight:600;

}



.achievement-header h1{

font-family:"Playfair Display",serif;

font-size:60px;

color:#5e1717;

margin:20px 0;

}



.achievement-header span{

color:#666;

}




.achievement-stats{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-bottom:80px;

}



.achievement-stats div{

background:white;

padding:35px;

border-radius:25px;

text-align:center;

box-shadow:

0 15px 40px rgba(0,0,0,.08);

}



.achievement-stats h2{

font-family:"Playfair Display",serif;

font-size:45px;

color:#7a1f1f;

}



.achievement-stats p{

color:#666;

margin-top:10px;

}





.achievement-list{

max-width:900px;

margin:auto;

display:flex;

flex-direction:column;

gap:30px;

}



.achievement-card{

display:flex;

gap:30px;

align-items:center;

background:white;

padding:35px;

border-radius:25px;

box-shadow:

0 15px 40px rgba(0,0,0,.08);

transition:.3s;

}



.achievement-card:hover{

transform:translateX(10px);

}



.achievement-year{

width:90px;

height:90px;

border-radius:50%;

background:#7a1f1f;

color:white;

display:flex;

align-items:center;

justify-content:center;

font-family:"Playfair Display",serif;

font-size:22px;

}



.achievement-card h2{

font-family:"Playfair Display",serif;

color:#641414;

margin-bottom:10px;

}



.achievement-card p{

color:#666;

line-height:1.7;

}



@media(max-width:900px){


.achievement-stats{

grid-template-columns:1fr;

}


.achievement-card{

flex-direction:column;

align-items:flex-start;

}


.achievement-header h1{

font-size:40px;

}


}