.crew-page{

min-height:100vh;

padding:150px 10% 80px;

background:#fffaf3;

}



.crew-header{

text-align:center;

margin-bottom:70px;

}



.crew-header p{

letter-spacing:4px;

color:#b17a25;

font-size:13px;

font-weight:600;

}



.crew-header h1{

font-family:"Playfair Display",serif;

font-size:60px;

color:#5e1717;

margin:20px 0;

}



.crew-header span{

color:#666;

}



.crew-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}



.member-card{

background:white;

padding:40px 25px;

border-radius:25px;

text-align:center;

box-shadow:

0 15px 40px rgba(0,0,0,.08);

transition:.4s;

}



.member-card:hover{

transform:translateY(-12px);

}



.member-avatar{

width:90px;

height:90px;

margin:auto;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

background:#7a1f1f;

color:white;

font-size:30px;

font-family:"Playfair Display",serif;

}



.member-card h2{

margin-top:25px;

font-family:"Playfair Display",serif;

color:#641414;

font-size:22px;

}



.member-card p{

margin-top:10px;

color:#777;

font-size:14px;

}



@media(max-width:900px){

.crew-grid{

grid-template-columns:1fr;

}


.crew-header h1{

font-size:40px;

}

}