.gallery-page{

min-height:100vh;

padding:150px 10% 100px;

background:#fffaf3;

}



.gallery-header{

text-align:center;

margin-bottom:70px;

}



.gallery-header p{

color:#b17a25;

letter-spacing:4px;

font-size:13px;

font-weight:600;

}



.gallery-header h1{

font-family:"Playfair Display",serif;

font-size:60px;

color:#5e1717;

margin:20px 0;

}



.gallery-header span{

color:#666;

}



.gallery-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}



.gallery-card{

height:280px;

border-radius:25px;

overflow:hidden;

background:white;

box-shadow:

0 15px 40px rgba(0,0,0,.1);

}



.gallery-card img{

width:100%;

height:100%;

object-fit:cover;

transition:.5s;

}



.gallery-card:hover img{

transform:scale(1.12);

}



@media(max-width:900px){

.gallery-grid{

grid-template-columns:1fr;

}

.gallery-header h1{

font-size:40px;

}

}